.camperListCard {
  display: flex;
  flex-direction: row;
  width: 888px;
  height: auto;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
}

.gallery {
  margin-right: 24px;
}

.img {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.iconContainerWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 391px;
  gap: 8px;
  margin-bottom: 24px;
}

.iconContainer {
  display: flex;
  gap: 2px;
  border-radius: 200px;
  background-color: #f2f4f7;
  padding: 12px 18px;
  font-weight: 500;
  color: #101828;
}

.icon {
  width: 20px;
  height: 20px;
}

.iconLabel {
  padding-left: 2px;
}

.campersCardInfo {
  position: relative;
  width: 524px;
  height: 320px;
}

.text {
  color: #101828;
}

.camperDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #101828;
  margin-bottom: 24px;
}

.loadMoreBtn {
  border: 1px solid #dadde1;
  color: #101828;
  background-color: #f2f4f7;
  margin: 0 371px;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  background-color: #f2f4f7;
  outline: 1px solid #d84343;
}

.camperListBtn {
  position: absolute;
  bottom: 0;
}

.error {
  color: #d84343;
  text-align: left;
  width: 888px;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
}
