:root {
  font-family: Inter;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #101828;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e44848;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

button {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  border: 1px solid transparent;
  padding: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  background-color: #e44848;
  color: #f7f7f7;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button:hover,
button:focus {
  background-color: #d84343;
  outline: 1px solid #d84343;
}

.section {
  padding: 48px 64px 80px 64px;
}

/* Toast */

button.Toastify__close-button {
  width: 20px;
  height: 20px;
  color: #101828;
  position: absolute;
  top: 6px;
  right: 6px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  z-index: 1;
}

button.Toastify__close-button--light {
  color: #101828;
  opacity: 0.3;
}

.Toastify__toast-container .Toastify__toast {
  padding: 20px;
  width: 350px;
  font-family: Inter;
}

/* datepicker */

div.react-datepicker {
  font-family: Inter;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #475467;
  border-radius: 12px;
}

div.react-datepicker-popper {
  width: 228px;
}

div.react-datepicker__header {
  background-color: #ffffff;
  padding: 12px;
  border-bottom: 1px solid #475467;
}

button.react-datepicker__navigation {
  background: transparent;
  border: none;
  outline: none;
  top: 19px;
  right: 9px;
}

button.react-datepicker__navigation--previous {
  left: 9px;
}

span.react-datepicker__navigation-icon::before {
  border-color: #475467;
}

div h2.react-datepicker__current-month {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 12px;
}

div.react-datepicker__week {
  width: 252px;
}

div.react-datepicker__day {
  width: 36px;
  height: 32px;
  color: #101828;
  margin: 0;
}

div.react-datepicker__day--selected {
  background-color: #475467;
  color: #f7f7f7;
}

div.react-datepicker__day--keyboard-selected {
  background-color: #dadde1;
}

div.react-datepicker__day--disabled {
  color: #6c717b;
}

div.react-datepicker__day--today {
  color: #d84343;
}

div.react-datepicker__day-names {
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  width: 228px;
}

div.react-datepicker__day-name {
  margin: 0;
  width: 36px;
}

div.react-datepicker__day-names label {
  width: 36px;
}
