.background {
  height: 669px;
  background-color: #2e2f42;
  background-image: url(../../assets/images/picture-fon-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.container {
  margin: 212px 741px 180px 0;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f7f7f7;
  margin-bottom: 16px;
  margin-top: 0;
}

.text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f7f7f7;
  margin-bottom: 40px;
  margin-top: 0;
}

.homePageBtn {
  width: 174px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dip),
  (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url(../../assets/images/picture-fon-2x.jpg);
  }
}
